@font-face {
    font-family: 'Autography';
    src: url('../fonts/Autography.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../fonts/CormorantGaramond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Fondo que ocupa toda la pantalla */
body {
    background: url("../img/bg.jpg") no-repeat center center/cover;
    /*height: 100vh;*/
    margin: 0;
    /*overflow: hidden; /* evita scroll */
    position: relative;
    font-family: 'Cormorant Garamond', serif;
    display: flex;
}

/* Oscurece un poco el fondo para mejor contraste */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 1;
}

/* Contenido centrado */
.content {
    position: relative;
    z-index: 2;    
}

/* Estilo del contador */
#countdown {
    display: flex;
    justify-content: center;
}
#countdown div {
    min-width: 80px;    
    text-align: center;
}

.img-borde-difuminado {
    border: 5px solid rgba(255, 255, 255, 0.5); /* borde semitransparente */
    border-radius: 15px;                         /* bordes redondeados */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* difuminado */
    transition: all 0.3s ease;                   /* suaviza cualquier cambio */
}

#btn-audio i {
    font-size: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.titulo-autography{
    font-family: 'Autography', serif;
    font-size: 24px;
    color: #661A32;
}

.titulo2-autography{
    font-family: 'Autography', serif;
    font-size: 24px;    
}

.signal {
    letter-spacing: 0.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

.error-text {
    color: red;
}

.color-secondary {
    color: #661A32;
}

.rsvp-btn {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1rem;
    font-weight: 650;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 4px;
    border-radius: 10px;
}

.mw-600 {
  max-width: 600px;
}

.date-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 550;
}


.date-column p{
    margin: 0;    
}

.navbar-page {
    position: fixed;
    bottom: 1rem;
    opacity: 1;
    width: 100%;
    z-index: 50;    
}

.navbar-page nav{    
    background-color: white;
    border-radius: 20px;
}

.navbar-page a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-submit-form {
    background-color: #a34d65; /* tono más suave del #661A32 */
    color: black;        
    padding: 10px 20px;
    transition: 0.3s;
}